body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;

  background-image: url(./images/фон.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#root img {
  width: 20vw;
  height: 28vh;
  object-fit: contain;
}
